{
    "tabWidth": 2,
    "trailingComma": "all",
    "semi": true,
    "singleQuote": true,
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ]
}
