:host {
  box-sizing: border-box;
  font-size: 32px;
  background-color: var(--color-background);
  transition: color .5s, background-color .5s;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  overflow-y: auto;
}

.explanation {
  font-size: 0.75em;
}

.graph-wrapper {
  width: 100%;
  text-align: center;
}

app-morse-graph {
  display: block;
  overflow-x: auto;
  margin-inline: -1em;
}
