:host {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 6px 12px;
  box-shadow: var(--border-box-shadow);
  transition: color .5s, background-color .5s;
}

.span {
  flex-grow: 1;
}

.menu {
  float: right;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: var(--color-primary);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.open {
  .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    transform: translate(0, -9px) rotate(45deg);
  }

}
