:host {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 6px 12px;
  box-shadow: var(--border-box-shadow);
}

.span {
  flex-grow: 1;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  gap: .75em;

  li {
    list-style: none;
    position: relative;

    a {
      &:after {
        bottom: 1px;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background-color: var(--color-primary);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after,
      &.active:after {
        width: 100%;
        left: 0;
      }
    }
  }
}
