@use 'media';

:host {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 28px auto;
  gap: 28px 0;

  @include media.desktop {
    max-width: 720px;
  }
}

.letter {
  font-size: 20px;
  width: 90px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &.read {
    fill: gray;
    color: gray;
  }
}

.key {
  font-family: "JetBrains Mono", monospace;
  font-size: 28px;
}

.code {
  font-size: 0;

  .active {
    fill: red;
  }
}
