<div class="keyboard">
  <div class="row-wrapper">
    <div class="row" *ngFor="let row of keyboardRows">
      @for (btn of row; track btn) {
        <button
          #button
          [attr.data-letter]="btn"
          (pointerdown)="onPointerDown(button)"
          (pointercancel)="onPointerCancel(button)"
          (pointerup)="onPointerUp(button, btn)"
          (contextmenu)="(false)"
        >
          {{ btn | uppercase }}
        </button>
      }
    </div>
  </div>
</div>

@if (letters.length) {
  <app-sentence
    [letters]="letters"
    [activeLetter]="activeLetter"
    [activeMorseCode]="activeMorseCode"
  ></app-sentence>
} @else {
  <p appReveal class="start-typing">Start Typing!</p>
}

<router-outlet />
